div#appMovel {
    background-image: url(../img/appmovel-mob.png);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    justify-content: center;
    display: block;
    padding: 15% 0px;
}
div#appMovel .content-text {
    padding: 0vh 20% 0px;
    text-align: center;
}



@media (min-width:768px){
    div#appMovel{
        
        text-align: center;
        justify-content: center;
        display: flex;
    }
    div#appMovel{
        background-image: url("../img/appmovel-desk.png");
        height: 100vh;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        color: white;
    }
  }