.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.container-h {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
}

nav button {
    background: transparent;
    border: 0px;
}
nav button img {
    width: 30px;
}

#display {
    height: 100vh;
    background-image: url(../img/bg-mobile.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
}
.content-text {
    padding: 50vh 15px 0px;
    text-align: center;
}

span p {
    font-size: 0.5rem;
    font-weight: 200;
}
h1 {
    font-size: 4rem;
    font-weight: 100;
    margin-bottom: 15px;
}
p {
    font-size: 1rem;
    font-weight: 100;
    margin-bottom: 30px;
}
a.btn-c {
    padding: 13px 15px;
    background-color: #D40134;
    border-radius: 100px;
    font-size: 8px;
    text-decoration: none;
    color: white;
}







@media (max-width:767px){
    .display{
        background-image: url("../../img/bg-mobile.png");
        text-align: center;
        justify-content: center;
        display: flex;
}
    }

@media (min-width:768px){
    #display{
        background-image: url("../../img/bg-desktop.png");
        text-align: center;
        justify-content: center;
        display: flex;
    }
    }