
img {
    left: -140px;
    position: relative;
    top: 60px;
    width: 80%;
}
#full-bnr .col-md-6.one{
    background-image: url(../img/bnr-full1.png);
    width: 50%;
     height: 100vh !important; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
}
#full-bnr .col-md-6.two{
    /* background-color: #9F2733; */
    background-image: url(../img/bnr-full.png);
    height: 100vh !important; 
   background-position: center; 
   background-repeat: no-repeat; 
   background-size: cover;
}
#full-bnr .title2 {
    position: absolute;
    top: 400px;
    left: 740px;
}
#full-bnr .title {
    padding: 346px 53px 0px 30px;
}
#full-bnr h1 {
    color:white;
}
#full-bnr h4 {
    color:white;
}
#full-bnr p {
    color:#D9D9D9;
}
#full-bnr .card {
    width: 300px;
    height: 385px;
    left: 145px;
}
#full-bnr .card .mt-5{
    margin-top: 11rem !important;
}