div#services {
    color: white;
    background-color: #0F0F0F;
}
div#services .container {
    display: block;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-bottom: 10%;
}
div#services .content-text {
    text-align: center;
    padding: 20vh 15px 0px;
}
div#services .tab {
    display: block;
    width: 50%;
    justify-content: space-around;
    margin: 10% 5%;
    text-align: center;
}
div#services .Design {
    width: 150%;
    text-align: start;
    margin: 0px 20px 0px 0px;
}
div#services .WebDesign {
    width: 150%;
    text-align: start;
    margin: 0px 20px 0px 0px;
}
div#services .DesenvolvimentoWeb {
    width: 150%;
    text-align: start;
    margin: 0px 20px 0px 0px;
}
div#services .tab p {
    font-size: 12px;
    font-weight: 100;
    padding:  15px auto;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    margin: 50px auto;
    justify-content: center;
}
.card-container .card {
    margin: 5px;
    background: white;
    padding: 15px;
    border-radius: 15px;
    max-width: 50%;
}
.card-header {
    font-weight: 700;
    color: #D40134;
}
.card p {
    font-size: .9rem;
    color: #5c5d6f;
}

@media (min-width:768px){
    div#services .content-text {
        margin: 0% auto;
        padding: 10% 0 0 0;
        text-align: center;
    }
    div#services .tab {
        display: flex;
        width: 80%;
        justify-content: space-around;
        margin: 0% auto;
        text-align: center;
    }

    .card-container .card {
        margin: 10px;
        background: white;
        padding: 20px;
        border-radius: 15px;
        max-width: 30%;
    }
    .card p {
        font-size: .9rem;
        color: #5c5d6f;
        margin-top: 10px;
    }
    .details .card {
        max-width: 34%;
    }
}