div#produts {
    background-color: #0F0F0F;
    justify-content: space-around;
    display: block;
}

div#produts .container {
    display: block;
    text-align: center;
}
div#produts .content-text {
   
    color: white;
}
div#produts .content-text h1 {
    font-size: 32px;
}
div#produts .title {
    color: white;
    
}
div#produts h1 {
    font-size: 1.5rem;
    font-weight: 100;
    margin-bottom: 15px;
}


@media (min-width:768px){

   
    div#produts .title {
        color: white;
        
        
    }

    div#produts h1 {
        font-size: 2.4rem;
        font-weight: 100;
        margin-bottom: 15px;
    }

}